<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>James Collins</h2>
            <h4>hello</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt ="user name">
    </div>
    <mat-divider></mat-divider>

<a mat-list-item routerLinkActive="list-item-active" routerLink="/home"><mat-icon>dashboard</mat-icon>DashBoard</a>
<mat-divider></mat-divider>
<h2 matSubheader><mat-icon>face</mat-icon>Employee</h2>
<ul>
    <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/home/employeeList">EmployeeList</a></li>
    <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/">My Profile</a></li>
</ul>

<mat-divider></mat-divider>
<h2 matSubheader><mat-icon>library_books</mat-icon>Leave</h2>
<ul>
    <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/home/employeeList">Apply Leave</a></li>
    <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/employeeList">LeaveList</a></li>
    <li><a mat-list-item routerLinkActive="list-item-active" routerLink="/">My Leave List</a></li>
</ul>
<mat-divider></mat-divider>
</mat-nav-list>