.mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
}

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid var(--peruOrange);
    }
  ul li a{
      /* color:#eaeaea; */
      font-size:12.5px;
      color:black;
    }
ul li a:hover{
  background-color: var(--darkSlateGreen);
  color:var(--listWhite);
}

