ul li {
    list-style: none;
  }
  
  /* .mat-toolbar{
    background-color: #1e3d50;
    color:white;
  } */

  .mat-toolbar{
    background-color:#eaeaea;
  }

  .brandName{
    color: var(--peruOrange);
    font-weight: 500;
  }
 button{
  color: var(--peruOrange);
 }