
<div fxLayoutAlign="center center" fxFlexFill class="loginDiv" style="width:100%;">
  <mat-card >
      <mat-toolbar style="text-align: center;">Login to <span class="brandName">Manage</span></mat-toolbar>
      <form fxLayoutAlign="strech" fxLayout="column" class="loginForm" [formGroup] = "form" (ngSubmit)="onSubmit()">
          <mat-form-field >
            <mat-label>Email</mat-label>
            <input  matInput type="email" placeholder="email@mail.com"  formControlName="email">
          </mat-form-field>
        
          <mat-form-field >
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="password" formControlName="password">
          </mat-form-field>

          <mat-form-field >
            <mat-label>Select your Role</mat-label>
            <mat-select formControlName="userRole" (change)="changeRole($event)" required>
              <mat-option>--</mat-option>
              <mat-option value="Administartor">Administartor</mat-option>
              <mat-option  value="Registered User">User</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="loginButton" type="submit" [disabled]="form.invalid">Login</button>
        </form>
        <div class="demoButtons">
          <button mat-raised-button type="submit" (click) = "onSubmitDemoAdmin()" class="loginDemoAdmin" >Login as DemoAdmin</button>
        <button mat-raised-button type="submit" (click)= "onSubmitDemoUser()" class="loginDemoUser ">Login as DemoUser</button>
       </div>
      
  </mat-card>
</div>