@media only screen and (max-width: 600px) 
{
	mat-card {
		width:100%;
	}
	
} 
.flex-me {
  display: inline-flex;
  flex-flow: row wrap;
  background: grey;
}

mat-card {
  width: 350px;
  background-color: #ffff;
}
mat-toolbar{
  
    color: #c69734;
    background-color: #ffff;
    justify-content: center;
    border-bottom: 1px solid #3e6c5b;
}

.brandName{
    margin-left :5px;
    text-transform: uppercase;
    color: #3e6c5b;
    font-weight: 500;
    
}
.loginDiv {
    width:100%;
    
}
.loginDiv mat-card{
    padding: 0px;
}
.loginForm{
    padding:20px 20px 20px 20px;
}
.loginButton{
    border: 1px solid #3e6c5b ;
    background-color: #ffff;
  

}
.loginButton:hover{
    color:#ffff;
     background-color:#71b199;
}

.demoButtons{
    text-align: center;
    padding-bottom: 10px;
    margin-top: 5px;
}
.loginDemoAdmin{
    border: 1px solid #3e6c5b ;
    background-color: #ffff;
    color:#3e6c5b;
    margin-right: 5px;
}

.loginDemoAdmin:hover{
    color:#ffff;
    background-color:#71b199;
}

.loginDemoUser{
    border: 1px solid #3e6c5b ;
    background-color: #ffff;
    color:#3e6c5b;
}

.loginDemoUser:hover{
    color:#ffff;
    background-color:#71b199;
}

mat-label{
    color: #c69734;
    font-weight:500;
 
}