.mat-card{
    height:250px;
    display:flex;
    flex-direction: column;
}

.mat-card-title{
    height:100px;
    background-color: #3e6c5b;
    color:#ffff;
    padding:40px; 
}
.mat-card-content{
    margin-top: 10px;
}
.homeLink{
    color:#e9801f;

    cursor: pointer;
}

.homeLink:hover{
    color:#c69734 ;
}