<div class="container-fluid">
    <div class="col-sm-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Search Leave List</mat-card-title>
            </mat-card-header>
            <mat-card-content class="p-3">
    
                     <!--Date Requested For-->
                     <div class="row">
                       <div class="col-md-6">
                        <mat-form-field class="full-width" appearance="standard">
                          <mat-label>From Date</mat-label>
        
                          <input matInput [matDatepicker]="pickerFromDate" (dateInput)="inputEvent($event)"
                          (dateChange)="changeEvent($event)">
                      
                          <mat-datepicker-toggle matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerFromDate></mat-datepicker>
                        </mat-form-field>
                       </div>
                     

                       
                       <div class="col-md-6">
                    <mat-form-field class="full-width" appearance="standard">
              <mat-label>Leave Type</mat-label>
              <select  (change)="searchLeaveType($event)" matNativeControl id="mySelectId">
                  <option value="" disabled selected></option>
                  <option value="Annual Leave">Annual Leave</option>
                  <option value="Sick Leave">Sick Leave</option>
              </select>
          </mat-form-field>
                    </div>
                   </div>
                   <div class="row mt-3">
                    <div class="col-md-12">
                        <mat-checkbox class="checkbox-margin"  [(ngModel)]="allChecked"  (change)="applyFilterChecked('leaveStatus', allChecked ? '':'')">All</mat-checkbox>
              <mat-checkbox class="checkbox-margin" [(ngModel)]="approveChecked" (change)="applyFilterChecked('leaveStatus', approveChecked ? 'Approved':'')">Approved</mat-checkbox>
              <mat-checkbox class="checkbox-margin" [(ngModel)]="declineChecked" (change)="applyFilterChecked('leaveStatus', declineChecked ? 'Declined':'')">Declined</mat-checkbox>
              <mat-checkbox class="checkbox-margin" [(ngModel)]="pendingChecked" (change)="applyFilterChecked('leaveStatus', pendingChecked ? 'Pending':'')">Pending</mat-checkbox>
                    </div>
                   </div>
            </mat-card-content>
   
        </mat-card>       
     </div>
    
     <mat-card class="mt-5">
        <mat-card-header>
            <mat-card-title>My Leave List </mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-3">
    <!-- <div class="col-sm-12"><h2>My Leave List</h2></div> -->
    <hr>
    <!--Led == false !false == true dilog is displayed-->
    <div class="card shadow-lg p-3 mb-5" id="deleteConfirmation" *ngIf = leaveDeleted>
        <span class="alert text-center">{{deletedMessage}}</span>
          <button (click)="close()">close</button>
    </div>

  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
<table mat-table [dataSource]="employeeLeaves" class="example-table" matSort matSortActive="leaveStatus" matSortDirection="desc">
    <!-- Full Name  Column-->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
      <td mat-cell *matCellDef="let employeeLeave"><a>{{employeeLeave.fullName}}</a></td>
    </ng-container>
      <!-- From Date  Column-->
      <ng-container matColumnDef="fromDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >From Date</th>
        <td mat-cell *matCellDef="let employeeLeave"><a>{{employeeLeave.fromDate | date: 'dd/MM/yyyy'  }}</a></td>
      </ng-container>
        <!-- Till Date  Column-->
    <ng-container matColumnDef="tillDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Till Date</th>
        <td mat-cell *matCellDef="let employeeLeave"><a>{{employeeLeave.tillDate | date: 'dd/MM/yyyy'}}</a></td>
      </ng-container>
              <!-- Leave Type  Column-->
    <ng-container matColumnDef="leaveType">
        <th mat-header-cell class="leaveType" *matHeaderCellDef mat-sort-header >Leave Type</th>
        <td mat-cell class="leaveType" *matCellDef="let employeeLeave"><a>{{employeeLeave.leaveType}}</a></td>
      </ng-container>
              <!-- Number of Leave Days  Column-->
    <ng-container matColumnDef="numberOfLeaveDays">
        <th mat-header-cell class="numberOfDays" *matHeaderCellDef mat-sort-header >Number Of Leave Days</th>
        <td mat-cell class="numberOfDays" *matCellDef="let employeeLeave"><a>{{employeeLeave.numberOfLeaveDays}}</a></td>
      </ng-container>
                  <!-- Reason  Column-->
    <ng-container matColumnDef="reason">
        <th mat-header-cell class="reason" *matHeaderCellDef >Reason</th>
        <td mat-cell class="reason" *matCellDef="let employeeLeave"><a>{{employeeLeave.reason}}</a></td>
      </ng-container>
                  <!-- Leave Status  Column-->
    <ng-container matColumnDef="leaveStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Status</th>
        <td mat-cell *matCellDef="let employeeLeave"><a>{{employeeLeave.leaveStatus}}</a></td>
      </ng-container>
        <!-- Leave Details -->
        <ng-container matColumnDef="leaveDetails">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave Details</th>
        <td mat-cell *matCellDef="let employeeLeave"><a [routerLink]="['/home/myLeaveDetails', employeeLeave.leaveId ]">Leave Details</a></td>
        </ng-container>
        <!--Edit Leave-->
        <!-- <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
               <button  mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon [routerLink]="['/home/editMyLeave', employeeLeave.leaveId]">edit</mat-icon>
              </button>
            </td>
          </ng-container> -->
  
        <!--Delete Leave-->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let employeeLeave">
               <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon (click)= "deleteMyLeave(employeeLeave.leaveId)" >delete</mat-icon>
              </button>
            </td>
          </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[ 10, 20]" showFirstLastButtons>
</mat-paginator>
    </div>
  </div>
        </mat-card-content>
     </mat-card>
</div>  
