mat-card{
  padding: 38px;
}
mat-card-header{
  justify-content: center;
  margin-bottom: 48px;
}

  .full-width {
    width: 100%;
  }
  .home-link{
    color:var(-green);
  }
  .home-link:hover {
    color:var(--peruOrange);
    font-weight: 500;
  }
  