<div class="container-fluid">
    <div class="card  shadow-lg p-3 mb-5">
        <div class="card-body">
            <!--Image and Full Name-->
            <div class="row mt-3">

                <img src = {{employeeProfilePhoto}} style="width:170px;  ; border-radius: 50%;"  />
                <!-- <div class="form-group col-lg-6 col-sm-12 " *ngIf ="employeeDetails.employeePersonalDetails">           
                    <img src= {{employeeDetails.employeePersonalDetails.photoPath}} style="width:170px;  ; border-radius: 50%;" />
                </div> -->
                <div class="form-group col-md-6" style="margin-top: 50px;;">
                    <h2>{{employeeDetails.firstName | titlecase}} {{employeeDetails.lastName | titlecase}} </h2>
                    <h3>{{employeeDetails.department.name | uppercase}}</h3>
                </div>
            </div>
            <!--Name Details-->
            <div class="row  mt-5">   
                <div class="form-group col-sm-12 col-lg-4">
                    <label for='firstName'>First Name</label>
                    <div>
                        <p  class="form-control">{{employeeDetails.firstName}}</p>
                    </div>
                </div>
                <div class="form-group col-sm-12 col-lg-4">
                    <label for='middleName'>Middle Name</label>
                    <div>
                        <p  class="form-control" placeholder="middle name" >{{employeeDetails.middleName}} </p>
                    </div>
                </div>
                <div class="form-group col-sm-12 col-lg-4">
                    <label for='lastName'>Last Name</label>
                    <div>
                        <p  class="form-control">{{employeeDetails.lastName}}</p>
                    </div>
                </div>
             </div>
             <!--User Name and Email-->
             <div class="row mt-4">
                <div class="form-group col-sm-12 col-lg-6">
                    <label for="userName">UserName</label>
                    <p class="form-control">{{employeeDetails.userName}}</p>
                </div>
                <div class="form-group col-sm-12 col-lg-6">
                    <label for="email">Email</label>
                    <p class="form-control">{{employeeDetails.email}}</p>
                </div>
            </div>
            <!--Joining Date and job Title-->
            <div class="row mt-4">
                <div class="form-group col-sm-12 col-lg-6">
                    <label for="joiningDate">Joining Date</label>
                    <p class="form-control">{{employeeDetails.joiningDate | date}}</p>
                </div>
                <div class="form-group col-sm-12 col-lg-6">
                    <label for="jobTitle">Job Title</label>
                    <p class="form-control">{{employeeDetails.jobTitle}}</p>
                </div>
            </div>
            <!--Status , Days worked in Week and Number of Hours Worked Per Day-->         
            <div class="row mt-4">
                <div class="form-group col-lg-4 col-sm-12">
                    <label for="status">Status</label>
                    <p class="form-control">{{employeeDetails.status}}</p>
                </div>
                <div class="form-group col-lg-4 col-sm-12">
                    <label for="daysWorkedInWeek">Days Worked In Week</label>
                    <p class="form-control">{{employeeDetails.daysWorkedInWeek}}</p>
                </div>
                <div class="form-group  col-lg-4 col-sm-12">
                    <label for="numberOfHoursWorkedPerDay">Number Of Hours Worked Per Day</label>
                    <p class="form-control">{{employeeDetails.numberOfHoursWorkedPerDay}}</p>
                </div>
            </div>
              <!--Department Name and Manager-->
            <div class="row mt-4">
                <div class="form-group col-sm-12 col-lg-6">
                    <label for="department.name">Department Name</label>
                    <p class="form-control">{{employeeDetails.department.name}}</p>
                </div>
                <div class="form-group col-sm-12 col-lg-6">
                    <label for="manager">Manager</label>
                    <p class="form-control">{{employeeDetails.manager}}</p>
                </div>
            </div>
        </div>
        <!--Buttons-->
        <div class="row mt-3">
            <div class=" col-md-4">
                <a  class="btn edit-button m-2" [routerLink] = "['/home/editEmployeeOfficialDetails', employeeDetails.id]" >Edit</a>
                <a class="btn btn-outline-secondary m-2" [routerLink]="['/home/dashboard']">Cancel</a>
             </div>   
            <!-- <div class="col-md-4"  *ngIf = "!employeeDetails.employeePersonalDetails">
                <a class="btn btn-outline-success m-5 " 
                [routerLink]= "['/addEditEmployeePersonal', employeeDetails.id]">Next</a>
            </div> -->
        </div>
    </div>
</div>

