<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <div class="card shadow p-3 mb-5" *ngIf="employeeCreated">
                <span class="text-center">{{successMessage}}</span>
                <p class="text-center home-link mt-2" [routerLink] = "['/home/employeeList']">Back to EmployeeList</p>
            </div>

            <div class="card shadow-lg p-3 mb-5" *ngIf="!employeeCreated">
                <div class="card-header border-0">
                    <h2 class="card-title">{{formTitle}}</h2>
                </div>

                <div class="card-body">

                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="form-group col-md-6" >
                                <img src={{profilePhoto}} width="150px" />
                                <!-- <img src={{employee.employeePersonalDetails.photoPath}} width="150px" /> -->
                                                            
                 
                            <!-- <div >
                                <img src ={{profilePhoto}} style="width:170px;  ; border-radius: 50%;"/>
                            </div> -->
                        </div>
                        <!-- <div class="row mt-4"> -->
                            <!-- <img src= {{employeeDetails.employeePersonalDetails.photoPath}} style="width:170px;  ; border-radius: 50%;" /> -->

                            <!-- <img src={{employee.employeePersonalDetails.photoPath}} style="width:170px;  ; border-radius: 50%;"> -->
                        <!-- </div> -->
                        <!--Title-->
                        <div class="row mt-4">
                            <div class="form-group col-md-4">
                                <label for="title">Title</label>
                                <select class="form-control" formControlName="title">
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Ms">Ms</option>
                                </select>
                            </div>
                        </div>
                        <!--Name Details--> 
                        <div class="row mt-4">
                            <div class="form-group col-sm-12 col-lg-4" >
                                <label for="firstName" >First Name</label>
                                <input type="text" formControlName="firstName" class="form-control" required
                                    placeholder="First Name" id="firstName" [ngClass]= "{'has-block':hasError('firstName')}">

                                <div *ngIf="hasError('firstName')" class="error-block" >
                                    First Name is a required field.
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <label for="middleName">Middle Name</label>
                                <input type="text" class="form-control" placeholder="Middle Name"
                                    formControlName="middleName" id="middleName">
                                <div *ngIf="hasError('middleName')" class="error-block">
                                    Middle Name is a required field: please insert a valid text.
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-lg-4">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" required
                                    formControlName="lastName" id="lastName" [ngClass]="{'has-block':hasError('lastName')}">
                                <div *ngIf="hasError('lastName')" class="error-block">
                                    Last Name is a required field.
                                </div>
                            </div>
                        </div>
                        <!--UserName and Email-->
                        <div class="row mt-4">
                            <div class="form-group col-sm-12 col-lg-6">
                                <label for="userName">User Name</label>
                                <input type="text" class="form-control" placeholder="User Name"
                                    formControlName="userName" id="userName">
                                <div *ngIf="hasError('userName')" class="error-block">
                                    UserName is a required field.
                                </div>
                            </div>
                     
                            <div class="form-group col-sm-12 col-lg-6" >
                                <label for="email" >Email</label>
                                <input type="text" class="form-control" placeholder="Email" formControlName="email"
                                required
                                    id="email" [ngClass]="{'has-block':hasError('email')}">
                                <div *ngIf="hasError('email')" class="error-block">
                                    Email is a required field. 
                                </div>
                                
                            </div>
                        </div>
                        <!--Password and Confirm Password-->
                        <div class="row mt-4">
                            <div class="form-group col-sm-12 col-lg-6" [hidden]="hidden">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Password"
                                    formControlName="password" id="password"  (change)="onPasswordChange()" >
                                <div *ngIf="hasError('password')" class="error-block">
                                    Password is a required field.
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-lg-6" *ngIf="!editMode">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Confirm Password"
                                    formControlName="confirmPassword" id="confirmPassword" 
                                    (change)="onPasswordChange()">
                            
                                    <span *ngIf="confirmPassword.hasError('mismatch')" class="error-block" >Password and Confirm password do not match do not match.</span>
                                    <!-- <div *ngIf="hasError('confirmPassword')" class="error-block">
                                        Confirm password is a required field: please insert a valid text.
                                    </div> -->
                            </div>
                        </div>
                        <!--Joining Date and Job Title-->
                        <div class="row mt-4">
                            <div class="form-group col-sm-12 col-lg-6">
                                <label for="joiningDate">Joining Date</label>
                                <input type="date" class="form-control" placeholder="Joining Date"
                                    formControlName="joiningDate" id="joiningDate">
                                <div *ngIf="hasError('joiningDate')" class="error-block">
                                    Joining Date is a required field.
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-lg-6">
                                <label for="jobTitle">Job Title</label>
                                <input type="text" class="form-control" placeholder="Job Title"
                                    formControlName="jobTitle" id="jobTitle">
                                <div *ngIf="hasError('jobTitle')" class="error-block">
                                    Job Title is a required field.
                                </div>
                            </div>
                        </div>
                        <!--Status , Days Worked in a week , Number of Hours worked per day-->
                        <div class="row mt-4">
                            <div class="form-group col-sm-12 col-lg-4">
                                <label for="status">Status</label>
                                <select class="form-control" placeholder="Status" (change)="onSelectStatus($event)"
                                    formControlName="status" id="status">
                                    <option value="">---Select---</option>
                                    <option value="Full-Time">Full-Time</option>
                                    <option value="Part-Time">Part-Time</option>
                                    <option value="Contract">Contract</option>
                                    <option value="Casual">Casual</option>
                                </select>
                                <div *ngIf="hasError('status')" class="error-block">
                                    Status is a required field.
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-lg-4">
                                <label for="daysWorkedInWeek">Days Worked In Week</label>
                                <input type="number" class="form-control" placeholder="Days Worked In Week"
                                   [readonly]="isReadOnly()" formControlName="daysWorkedInWeek"
                                    id="daysWorkedInWeek" name="daysWorkedInWeek">
                                <div *ngIf="hasError('daysWorkedInWeek')" class="error-block">
                                    Days Worked In Week is a required field.
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-lg-4">
                                <label for="numberOfHoursWorkedPerDay">Number Of Hours Worked Per Day</label>
                                <input type="number" class="form-control" placeholder="Number Of Hours Worked Per Day"
                                    [readonly]="isReadOnly()"
                                    formControlName="numberOfHoursWorkedPerDay" id="numberOfHoursWorkedPerDay">
                                <div *ngIf="hasError('numberOfHoursWorkedPerDay')" class="error-block">
                                    Number Of Hours Worked Per Day is a required field.
                                </div>
                            </div>
                            <!-- <div class="form-group col-md-4">
                                <label for="numberOfHoursWorkedPerDay">Number Of Hours Worked Per Day</label>
                                <input type="number" class="form-control" placeholder="Number Of Hours Worked Per Day" 
                                [(ngModel)] ="workHours"
                                [readonly] = "isReadOnly()"
                                formControlName="numberOfHoursWorkedPerDay" id="numberOfHoursWorkedPerDay">
                                <div *ngIf="hasError('numberOfHoursWorkedPerDay')"
                                    class="error-block">
                                    Number Of Hours Worked Per Day is a required field: please insert a valid text.
                                </div>
                        </div> -->
                        </div>
                        <!--Department and  Manager-->
                        <div class="row mt-4">
                            <div class="form-group col-sm-12 col-lg-6">
                                <label for="departmentId">Department</label>
                                <select class="form-control" placeholder="department" formControlName="departmentId"
                                    id="departmentId">
                                    <option value="1">IT</option>
                                    <option value="2">HR</option>
                                    <!-- <option *ngFor="let dept of depts" [value]="dept.name">{{dept.name}}</option> -->
                                </select>
                                <div *ngIf="hasError('department')" class="error-block">
                                    Department is a required field.
                                </div>
                            </div>
                            <div class="form-group col-sm-12 col-lg-6"
                                [ngClass]="{ 'has-error has-feedback' : hasError('manager') }">
                                <label for="manager">Manager</label>
                                <input type="text" class="form-control" placeholder="Manager" formControlName="manager"
                                    id="manager">
                                <span *ngIf="hasError('manager')"
                                    class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <div *ngIf="hasError('manager')" class="error-block">
                                    Manager is a required field.
                                </div>
                            </div>
                        </div>
                        <!--Buttons-->
                        <div class="row mt-4">
                            <div class="col-sm-12 col-md-4"  style="width: fit-content;">
                                <!-- <button type="submit" class="btn btn-outline-success m-5 ">Create</button> -->
                                <button *ngIf="editMode" type="submit" [disabled] class="btn edit-button m-2">Apply
                                    Changes</button>
                                <button *ngIf="!editMode" type="submit" [disabled]="form.invalid"
                                    class="btn btn-success m-2">Create</button>
                                <a class="btn btn-outline-secondary m-5 " [routerLink] = "['/home/employeeList']">Cancel</a>

                                <!-- <a class="btn btn-outline-secondary m-2"  *ngIf="editMode"
                                    [routerLink]="['/home/employeeOfficialDetails' ,employee.id]">Cancel</a>
                                <a class="btn btn-outline-secondary m-2" *ngIf="!editMode"
                                [routerLink]="['/home/employeeList']">Cancel</a> -->
                            </div>
                            <!-- <div class="col-md-4">
                            <a class="btn btn-outline-info m-5" [routerLink] = "['/addEditEmployeePersonal', employee.id]">Next</a>
                        </div> -->
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>