
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card shadow p-3 mb-5" *ngIf="employeeCreatedOrUpdated">
                <span class="text-center">{{successMessage}}</span>
                <p class="text-center home-link mt-2" [routerLink] = "['/home/employeeDetails', employeeId]">Back to My Profile</p>
            </div>

            <div class="card shadow-lg p-3 mb-5" *ngIf="!employeeCreatedOrUpdated">
                <div class="card-header border-0">
                    <h2 class="card-title">{{formTitle}}</h2>
                </div>
            <div class="card-body">

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <!--Employee Id-->
                    <input type="hidden" for="employeeId">

                    <div class="row mt-3" >
                    <div class="form-group col-md-4">
                  <!--Employee Full Name-->
                    <label for="fullName">Full Name</label>
                    <input type="text" class="form-control" formControlName="fullName" id="fullName">
                    </div>
                    </div>
                    <!--Photo-->
                    <div class="row mt-3">
                        <div class="form-group col-md-6">
                            <label for="photo">Photo</label>
                            <input type="file" class="form-control" formControlName="photo"
                                (change)="onSelectFile($event)">
                        </div>

                        <!--Preview -->
                        <div *ngIf="!editMode" class="form-group col-md-6">
                            <div *ngIf="url">
                                <img [src]="url" style="width: 150px; height:150px;" />
                            </div>
                            <div *ngIf="!url">
                                <img src={{defaultPhoto}} width="150px" />
                               
                            </div>
                        </div>
                        <div *ngIf="editMode" class="form-group col-md-6">
                            <div *ngIf="url">
                                <img [src]="url" style="width: 150px; height:150px;" />
                            </div>
                            <div *ngIf="!url">
                                <img [src]= "this.empOfficialDetails.employeePersonalDetails.apiPhotoPath"
                                 style="width: 150px; height:150px;" />
                            </div>
                        </div>
                    </div>
                <!--Date of Birth and Nationality-->
                    <div class="row mt-3 mt-3">
                        <div class="form-group col-md-6">
                                <label for="dateOfBirth">Date of Birth</label>
                                <input type="date" class="form-control" required formControlName="dateOfBirth" id="dateOfBirth">
                        <div *ngIf="hasError('dateOfBirth')" class="error-block">
                            Date of Birth is a required field.
                        </div>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="nationality">Nationality</label>
                            <input type="text" class="form-control" formControlName="nationality" id="nationality">
                        </div>
                    </div>

                    <!--Martial Status and Gender-->
                    <div class="row mt-3">
                        <div class="form-group col-md-4">
                            <label for="maritalStatus">Marital status</label>
                            <input class="form-control" formControlName="maritalStatus" id="maritalStatus">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="gender">Gender</label>
                            <input  type="text" class="form-control" formControlName="gender" id="gender">
                        </div>
                    </div>


                        <!--Bank Details-->
                        <!--Bank Name and Branch Name-->
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label for="bankName">Bank Name</label>
                                <input type="text"  class="form-control" formControlName="bankName" id="bankName">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="branch">Branch Name</label>
                                <input type="text" class="form-control" formControlName="branch" id="branch">
                            </div>
                        </div>
                        <!--Account Name,BSB and Account Number -->
                        <div class="row mt-3">
                            <div class="form-group col-md-4">
                                <label for="accountName">Account Name</label>
                                <input type="text" class="form-control" formControlName="accountName" id="accountName">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="bsb">BSB</label>
                                <input type="number" class="form-control"  required formControlName="bsb" id="bsb">
                                <div *ngIf="hasError('bsb')" class="error-block">
                                   BSB is a required Field
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="accountNumber">Account Number</label>
                                <input type="number" class="form-control" formControlName="accountNumber" id="accountNumber">
                                <div *ngIf="hasError('accountNumber')" class="error-block">
                                    Account Number is a required Field
                                 </div>
                            </div>
                        </div>

                         <!--House Address of Employee-->
                         <!--House Number and Street Name -->
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label for="houseNumber">House Number</label>
                                <input type="text" class="form-control" formControlName="houseNumber" id="houseNumber">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="street">Street Name</label>
                                <input type="text" class="form-control" formControlName="street" id="street">
                            </div>
                        </div>
                        <!--City and State-->
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label for="city">City</label>
                                <input type="text" class="form-control" formControlName="city" id="city">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="state">State</label>
                                <input type="text" class="form-control" formControlName="state" id="state">
                            </div>
                        </div>
                        <!--Country and Zip Code-->
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" formControlName="country" id="country">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="zipCode">Zip Code</label>
                                <input type="text" class="form-control" formControlName="zipCode" id="zipCode">
                            </div>
                        </div>

                        <!---Emergency Contact Details-->
                        <!--Emergency Contact and Relationship-->
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label for="emergencyContact">Emergency Contact</label>
                                <input type="text" class="form-control" formControlName="emergencyContact" id="emergencyContact">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="relationship">Relationship</label>
                                <input type="text" class="form-control" formControlName="relationship" id="relationship">
                            </div>
                        </div>
                          <!--Emergency Contact PhoneNumber -->
                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                <label for="emergencyContactPhoneNumber">Emergency Contact PhoneNumber</label>
                                <input type="text" class="form-control" formControlName="emergencyContactPhoneNumber"
                                    id="emergencyContactPhoneNumber">
                            </div>
                        </div>
                         <!-- Emergency Contact HouseNumber and Emergency Contact Street-->
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label for="emergencyContactHouseNumber">Emergency Contact HouseNumber</label>
                                <input type="text" class="form-control" formControlName="emergencyContactHouseNumber"
                                    id="emergencyContactHouseNumber">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emergencyContactStreet">Emergency Contact Street</label>
                                <input type="text" class="form-control" formControlName="emergencyContactStreet"
                                    id="emergencyContactStreet">
                            </div>
                        </div>
                        <!-- Emergency Contact City and Emergency Contact State-->
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label for="emergencyContactCity">Emergency Contact City</label>
                                <input type="text" class="form-control" formControlName="emergencyContactCity"
                                    id="emergencyContactCity">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emergencyContactState">Emergency Contact State</label>
                                <input type="text" class="form-control" formControlName="emergencyContactState"
                                    id="emergencyContactState">
                            </div>
                        </div>
                        <!-- Emergency Contact Country and Emergency Contact ZipCode-->
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label for="emergencyContactCountry">Emergency Contact Country</label>
                                <input type="text" class="form-control" formControlName="emergencyContactCountry"
                                    id="emergencyContactCountry">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="emergencyContactZipCode">Emergency Contact ZipCode</label>
                                <input type="text" class="form-control" formControlName="emergencyContactZipCode"
                                    id="emergencyContactZipCode">
                            </div>
                        </div>
                  
                    <!--Buttons-->
                    <div class="row mt-3 mt-3">
                        <div class="col-md-4">
                            <button *ngIf="editMode" type="submit" [disabled] class="btn edit-button m-2">Apply Changes</button>
                            <button *ngIf="!editMode" type="submit" [disabled]="form.invalid" class="btn green-button m-2">Create</button>
                            <a class="btn btn-outline-secondary m-2" [routerLink] = "['/home/dashboard']">Cancel</a>
                        </div>
                        <div class="col-md-4">
                            <!-- <button *ngIf="editMode" type="submit"  class="btn btn-outline-info m-5">Cancel</button> -->
                            <!-- <a *ngIf="editMode" class="btn btn-outline-secondary m-5 " [routerLink] = "['/home/employeePersonalDetails' , employee.id]">Cancel</a> -->
                            <!-- <a *ngIf="!editMode" class="btn btn-outline-secondary m-5 " [routerLink] = "['/home/employeeOfficialDetails']">Cancel 2</a> -->
                        </div>
                    </div>
                </form> 
            </div>

            </div>
        </div>
    </div>
</div>



