

<h2>Hello</h2>

<div class="container-fluid">
    <div class="card index-card">
        <div class="card-body">
            <h3>About <span class="index-card-subtitle">Manage</span></h3>
            <hr />
            <p class="card-text mt-4">
                Manage is a Employee Management system made for learning based on Angular 11, Bootsrap 4 and Angular Material.
                It uses the <span class="card-span">custom Api's built in the Manage Employee Management App built using C# and ASP.Net Core MVC.</span>
                It  is used for maintaing various aspects of an employee profile.<br />
                It can be accesed by both the administrator and the employee and both will be presented
                with a different menu based on their role. <br />
                Manage has following systems:
            </p>
      
                <ul>
                    <li>
                        Employee Management
                    </li>
                    <li>
                        Leave Management
                    </li>
                </ul>
                <h3>Key Features</h3>
                <ul>
                    <li>
                        Role based access and visiblity of the menu and functionalities like add, edit or delete
                    </li>
                    <li>
                        Pagination and sorting for all the lists
                    </li>
                    <li>
                        Photo upload along with preview while uploading
                    </li>
                    <li>
                        Demo Admin and Demo User login
                    </li>
                    <li>
                        Abilty to reset password using forgot my password link in login
                    </li>
                </ul>
    
                <hr />
                <h3>Functionality Access</h3>
                The access to the different parts of the system is based on the role of the employee. While the Administrator
                has access to all parts of the system, the employee will be able to see only the parts that are relevant to them.
    
                <h3 class="index-card-title mt-3">Administrator</h3>
                <div class="ml-5">
                    <h4 class="index-card-subtitle">Employee Management</h4>
                    <ul>
                        <li>
                            List of all employees
                        </li>
                        <li>
                            Add New Employee: Add and edit employee details
                        </li>
                    </ul>
                    <h4 class="index-card-subtitle">Leave Management</h4>
                    <ul>
                        <li>
                            List of all Leaves for all employees
                        </li>
                        <li>
                            Apply and edit New leave
                        </li>
                        <li>
                            Approve or Decline leave
                        </li>
                    </ul>
                    <hr />
                    <h3 class="index-card-title">Employee</h3>
                    <div class="ml-5">
                        <h4 class="index-card-subtitle">Employee Management</h4>
                        <ul>
                            <li>
                                Employee Profile
                            </li>
                            <li>
                                Add and edit Personal details
                            </li>
                        </ul>
                        <h4 class="index-card-subtitle">Leave Management</h4>
                        <ul>
                            <li>
                                List of all their Leaves
                            </li>
                            <li>
                                Apply and edit New leave
                            </li>
                            <li>
                                Delete the leave which has not yet been approved or disapproved
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>

