.index-card-subtitle{ 
     color:var(--peruOrange);
}

.card-span{
    font-style: italic;
    font-weight: 500;
    color:var(--peruOrange);
}

.index-card-title{
    color:var(--darkSlateGreen);
    font-weight: 600;
    letter-spacing: 1.3pt;
}