.mat-card{
    height:250px;
    display:flex;
    flex-direction: column;
}

.mat-card-title{
    height:100px;
    background-color: var(--darkSlateGreen);
    color:#ffff;
    padding:40px; 
}
.mat-card-content{
    margin-top: 10px;
}
